{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr" direction="ltr" style="direction: ltr">

<!--begin::Head-->
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="Login page example"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->

    {% block css %}{% endblock %}

    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="{% static '/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <!--end::Global Theme Styles-->

    <link rel="shortcut icon" href="{% static '/media/logos/favicon.ico' %}"/>
</head>
<!--end::Head-->

<!--begin::Body-->
<body id="kt_body" style="background-image: url({% static '/media/bg/bg-10.jpg' %})"
      class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

{% block content %}
{% endblock %}

<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = {
    "breakpoints": {"sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200},
    "colors": {
        "theme": {
            "base": {
                "white": "#ffffff",
                "primary": "#6993FF",
                "secondary": "#E5EAEE",
                "success": "#1BC5BD",
                "info": "#8950FC",
                "warning": "#FFA800",
                "danger": "#F64E60",
                "light": "#F3F6F9",
                "dark": "#212121"
            },
            "light": {
                "white": "#ffffff",
                "primary": "#E1E9FF",
                "secondary": "#ECF0F3",
                "success": "#C9F7F5",
                "info": "#EEE5FF",
                "warning": "#FFF4DE",
                "danger": "#FFE2E5",
                "light": "#F3F6F9",
                "dark": "#D6D6E0"
            },
            "inverse": {
                "white": "#ffffff",
                "primary": "#ffffff",
                "secondary": "#212121",
                "success": "#ffffff",
                "info": "#ffffff",
                "warning": "#ffffff",
                "danger": "#ffffff",
                "light": "#464E5F",
                "dark": "#ffffff"
            }
        },
        "gray": {
            "gray-100": "#F3F6F9",
            "gray-200": "#ECF0F3",
            "gray-300": "#E5EAEE",
            "gray-400": "#D6D6E0",
            "gray-500": "#B5B5C3",
            "gray-600": "#80808F",
            "gray-700": "#464E5F",
            "gray-800": "#1B283F",
            "gray-900": "#212121"
        }
    },
    "font-family": "Poppins"
};</script>
<!--end::Global Config-->

<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static '/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static '/js/scripts.bundle.js' %}"></script>
<!--end::Global Theme Bundle-->

{% block js %}{% endblock %}

</body>
<!--end::Body-->
</html>