{% extends 'projects.html' %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block css %}
    <link href="{% static '/plugins/custom/kanban/kanban.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Heading-->
                    <div class="d-flex flex-column">
                        <!--begin::Title-->
                        <h2 class="text-white font-weight-bold my-2 mr-5">Tasks in "{{ proj.name }}"</h2>
                        <!--end::Title-->
                        <!--begin::Breadcrumb-->
                        <div class="d-flex align-items-center font-weight-bold my-2">
                            <!--begin::Item-->
                            <a href="/boards" class="opacity-75 hover-opacity-100">
                                <i class="flaticon2-shelter text-white icon-1x"></i>
                            </a>
                            <!--end::Item-->
                        </div>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Heading-->
                </div>
                <!--end::Info-->
            </div>
        </div>
        <!--end::Subheader-->

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Card-->
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Tasks</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="kt_kanban_4"></div>
                        <div class="mt-4">
                            {% if can_add %}
                                <!-- Button  modal-->
                                <button type="button" class="btn font-weight-bold btn-light-primary mr-5"
                                        data-toggle="modal"
                                        data-target="#exampleModal">
                                    Add Task
                                </button>
                                <!-- Modal-->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add New
                                                    Task</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <i aria-hidden="true" class="ki ki-close"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="add_board_from" method="post">{% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Name
                                                            <span class="text-danger">*</span></label>
                                                        <input id="iname" name="name" type="text"
                                                               class="form-control form-control-lg"
                                                               placeholder="Task">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Description
                                                            <span class="text-danger">*</span></label>
                                                        <input id="idesc" name="desc" type="text"
                                                               class="form-control form-control-lg"
                                                               placeholder="Details ...">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Select DeadLine
                                                            <span class="text-danger">*</span></label>
                                                        <div class="input-group date">
                                                            <input name="date" type="text"
                                                                   class="form-control form-control-lg"
                                                                   id="kt_datepicker_3"/>
                                                            <div class="input-group-append">
                                                               <span class="input-group-text">
                                                                <i class="la la-calendar"></i>
                                                               </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Select User
                                                            <span class="text-danger">*</span></label><br>
                                                        <select name="users" style="width: 100%"
                                                                class="form-control form-control-lg select2"
                                                                id="kt_select2_3"
                                                                name="param">
                                                            {% for ou in other_users %}
                                                                <option value="{{ ou.id }}">{{ ou.username }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button"
                                                                class="btn btn-light-primary font-weight-bold"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button id="psubmit" type="submit"
                                                                class="btn btn-primary font-weight-bold">Save
                                                            changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                Calendar
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="kt_calendar"></div>
                    </div>
                </div>
                <!--end::Card-->

            </div>
            <!--end::Container-->
        </div>

        {% for t in tasks %}
            <div class="modal fade hidden" id="task-details-{{ t.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ t.description }}</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-100 mr-5">
                                    <div class="symbol-label"
                                         style="background-image:url({% static t.assigned_to.profile.profile_photo %})"></div>
                                    <i class="symbol-badge bg-success"></i>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="#"
                                       class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{ t.assigned_to.username }}</a>
                                    <div class="navi mt-2">
                                        <a href="#" class="navi-item">
								<span class="navi-link p-0 pb-2">
									<span class="navi-icon mr-1">
										<span class="svg-icon svg-icon-lg svg-icon-primary">
											<!--begin::Svg Icon | path:/media/svg/icons/Communication/Mail-notification.svg-->
											<svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                 viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24"/>
													<path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
                                                          fill="#000000"/>
													<circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5"/>
												</g>
											</svg>
                                            <!--end::Svg Icon-->
										</span>
									</span>
									<span class="navi-text text-muted text-hover-primary">{{ t.assigned_to.email }}</span>
								</span>
                                        </a>
                                    </div>

                                    <span class="label label-inline label-light-info">Start Time: {{ t.start_time }}</span>
                                    <span class="label label-inline label-light-success">End Time: {{ t.end_time }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--end::Entry-->
    </div>
    <!--end::Content-->

{% endblock %}

{% block js %}
    <script src="{% static '/plugins/custom/kanban/kanban.bundle.js' %}"></script>
    <script src="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
    <script src="{% static '/js/pages/my-script.js' %}"></script>

    <script>
        "use strict";

        // Class definition
        var KTKanbanBoardDemo = function () {
            // Private functions
            var _demo4 = function () {
                var kanban = new jKanban({
                    element: '#kt_kanban_4',
                    gutter: '0',
                    click: function (el) {
                        let eid = $(el).data("eid");
                        $(`#task-details-${eid}`).modal('show');
                    },
                    boards: [
                        {
                            'id': 'T',
                            'title': 'To Do',
                            'class': 'light-danger',
                            'item': [
                                {% for t in tasks %}
                                    {% if t.status == 'T' %}
                                        {
                                            'id': {{ t.id }},
                                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static t.assigned_to.profile.profile_photo %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-dark font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                        },
                                    {% endif %}
                                {% endfor %}
                            ]
                        },
                        {
                            'id': 'D',
                            'title': 'In Progress',
                            'class': 'light-primary',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'D' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static t.assigned_to.profile.profile_photo %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'I',
                            'title': 'In Test',
                            'class': 'light-primary',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'I' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static t.assigned_to.profile.profile_photo %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-warning font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'O',
                            'title': 'Done',
                            'class': 'light-success',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'O' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static t.assigned_to.profile.profile_photo %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-primary font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'B',
                            'title': 'Blocked',
                            'class': 'light-danger',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'B' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static t.assigned_to.profile.profile_photo %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'L',
                            'title': 'Deleted',
                            'class': 'light-dark',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'L' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static t.assigned_to.profile.profile_photo %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        }
                    ],
                    dragendEl: function (el) {
                        let eid = $(el).data("eid");
                        let bid = $(el.parentElement.parentElement).data("id");
                        jQuery.ajax(`/boards/${eid}/task`, {
                            headers: {"X-CSRFToken": $(`{% csrf_token %}`).val()},
                            type: 'POST',
                            data: {
                                "_token": "{{ csrf_token }}",
                                type: "edit_status",
                                task_id: eid,
                                board_id: bid
                            },
                            error: (data) => {
                                $('[data-switch=true]').bootstrapSwitch();
                                let content = {};
                                content.message = data.responseJSON.error;
                                $.notify(content, {
                                    type: 'danger',
                                    placement: {
                                        from: 'bottom',
                                        align: 'left'
                                    },
                                    offset: {
                                        x: 30,
                                        y: 30
                                    },
                                });
                            }
                        });
                    },
                });
            }

            // Public functions
            return {
                init: function () {
                    _demo4();
                }
            };
        }();

        var KTCalendarBasic = function () {

            return {
                //main function to initiate the module
                init: function () {
                    var todayDate = moment().startOf('day');
                    var YM = todayDate.format('YYYY-MM');
                    var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
                    var TODAY = todayDate.format('YYYY-MM-DD');
                    var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

                    var calendarEl = document.getElementById('kt_calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
                        themeSystem: 'bootstrap',

                        isRTL: KTUtil.isRTL(),

                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },

                        height: 800,
                        contentHeight: 780,
                        aspectRatio: 3,  // see: https://fullcalendar.io/docs/aspectRatio

                        nowIndicator: true,
                        {#now: TODAY + 'T09:25:00', // just for demo#}

                        views: {
                            dayGridMonth: {buttonText: 'month'},
                            timeGridWeek: {buttonText: 'week'},
                            timeGridDay: {buttonText: 'day'}
                        },

                        defaultView: 'dayGridMonth',
                        defaultDate: TODAY,

                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        navLinks: true,
                        events: [
                            {% for t in tasks %}
                                {
                                    id: '{{ t.id }}',
                                    title: '{{t.name}}',
                                    start: new Date('{{ t.end_time }}'),
                                    end: new Date('{{ t.end_time }}'),
                                    description: '{{t.description}}',
                                    {% if t.status == 'T' %}
                                        className: "fc-event-solid-warning fc-event-light",
                                    {% endif %}
                                    {% if t.status == 'D' %}
                                        className: "fc-event-solid-primary fc-event-light",
                                    {% endif %}
                                    {% if t.status == 'I' %}
                                        className: "fc-event-solid-info fc-event-light",
                                    {% endif %}
                                    {% if t.status == 'O' %}
                                        className: "fc-event-solid-success fc-event-light",
                                    {% endif %}
                                    {% if t.status == 'B' %}
                                        className: "fc-event-solid-danger fc-event-light",
                                    {% endif %}
                                    {% if t.status == 'L' %}
                                        className: "fc-event-solid-dark  fc-event-light",
                                    {% endif %}
                                },
                            {% endfor %}
                        ],

                        eventDrop: function (info) {
                            let id = info.event.id;
                            let year = info.event.start.getFullYear();
                            let month = info.event.start.getMonth() + 1;
                            let day = info.event.start.getDate()
                            console.log(id, `${year}-${month}-${day}`)

                            jQuery.ajax(`/boards/${id}/task`, {
                                headers: {"X-CSRFToken": $(`{% csrf_token %}`).val()},
                                type: 'POST',
                                data: {
                                    "_token": "{{ csrf_token }}",
                                    type: "edit_end_time",
                                    task_id: id,
                                    new_end_time: `${year}-${month}-${day}`
                                },
                                error: (data) => {
                                    $('[data-switch=true]').bootstrapSwitch();
                                    let content = {};
                                    content.message = data.responseJSON.error;
                                    $.notify(content, {
                                        type: 'danger',
                                        placement: {
                                            from: 'bottom',
                                            align: 'left'
                                        },
                                        offset: {
                                            x: 30,
                                            y: 30
                                        },
                                    });
                                }
                            });
                        },

                        eventRender: function (info) {
                            var element = $(info.el);

                            if (info.event.extendedProps && info.event.extendedProps.description) {
                                if (element.hasClass('fc-day-grid-event')) {
                                    element.data('content', info.event.extendedProps.description);
                                    element.data('placement', 'top');
                                    KTApp.initPopover(element);
                                } else if (element.hasClass('fc-time-grid-event')) {
                                    element.find('.fc-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                                } else if (element.find('.fc-list-item-title').lenght !== 0) {
                                    element.find('.fc-list-item-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                                }
                            }
                        }
                    });

                    calendar.render();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTKanbanBoardDemo.init();
            KTCalendarBasic.init();
        });

    </script>
{% endblock %}