{% extends 'projects.html' %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block css %}
    <link href="{% static '/plugins/custom/kanban/kanban.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Heading-->
                    <div class="d-flex flex-column">
                        <!--begin::Title-->
                        <h2 class="text-white font-weight-bold my-2 mr-5">Tasks</h2>
                        <!--end::Title-->
                        <!--begin::Breadcrumb-->
                        <div class="d-flex align-items-center font-weight-bold my-2">
                            <!--begin::Item-->
                            <a href="/boards" class="opacity-75 hover-opacity-100">
                                <i class="flaticon2-shelter text-white icon-1x"></i>
                            </a>
                            <!--end::Item-->
                        </div>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Heading-->
                </div>
                <!--end::Info-->
            </div>
        </div>
        <!--end::Subheader-->

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Card-->
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Tasks</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="kt_kanban_4"></div>
                        <div class="mt-4">
                            {% if can_add %}
                                <!-- Button  modal-->
                                <button type="button" class="btn font-weight-bold btn-light-primary mr-5"
                                        data-toggle="modal"
                                        data-target="#exampleModal">
                                    Add Task
                                </button>
                                <!-- Modal-->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">

                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add New
                                                    Task</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <i aria-hidden="true" class="ki ki-close"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="add_board_from" method="post">{% csrf_token %}
                                                    <div class="form-group">
                                                        <label>Name
                                                            <span class="text-danger">*</span></label>
                                                        <input id="iname" name="name" type="text"
                                                               class="form-control form-control-lg"
                                                               placeholder="Task">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Description
                                                            <span class="text-danger">*</span></label>
                                                        <input id="idesc" name="desc" type="text"
                                                               class="form-control form-control-lg"
                                                               placeholder="Details ...">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Select DeadLine
                                                            <span class="text-danger">*</span></label>
                                                        <div class="input-group date">
                                                            <input name="date" type="text"
                                                                   class="form-control form-control-lg"
                                                                   id="kt_datepicker_3"/>
                                                            <div class="input-group-append">
                                                               <span class="input-group-text">
                                                                <i class="la la-calendar"></i>
                                                               </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Select User
                                                            <span class="text-danger">*</span></label><br>
                                                        <select name="users" style="opacity: 1"
                                                                class="form-control form-control-lg select2"
                                                                id="kt_select2_3"
                                                                name="param">
                                                            {% for ou in other_users %}
                                                                <option value="{{ ou.id }}">{{ ou.username }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button"
                                                                class="btn btn-light-primary font-weight-bold"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-primary font-weight-bold">Save
                                                            changes
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                Calendar
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="kt_calendar"></div>
                    </div>
                </div>
                <!--end::Card-->

            </div>
            <!--end::Container-->
        </div>

        <!--end::Entry-->
    </div>
    <!--end::Content-->

{% endblock %}

{% block js %}
    <script src="{% static '/plugins/custom/kanban/kanban.bundle.js' %}"></script>
    <script src="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
    <script src="{% static '/js/pages/my-script.js' %}"></script>

    <script>
        "use strict";

        // Class definition
        var KTKanbanBoardDemo = function () {
            // Private functions
            var _demo4 = function () {
                var kanban = new jKanban({
                    element: '#kt_kanban_4',
                    gutter: '0',
                    click: function (el) {
                        alert("Details");
                    },
                    boards: [
                        {
                            'id': 'T',
                            'title': 'To Do',
                            'class': 'light-danger',
                            'item': [
                                {% for t in tasks %}
                                    {% if t.status == 'T' %}
                                        {
                                            'id': {{ t.id }},
                                            'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="/static{{ t.assigned_to.profile.profile_photo }}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-dark font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                        },
                                    {% endif %}
                                {% endfor %}
                            ]
                        },
                        {
                            'id': 'D',
                            'title': 'In Progress',
                            'class': 'light-primary',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'D' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="/static{{ t.assigned_to.profile.profile_photo }}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'I',
                            'title': 'In Test',
                            'class': 'light-primary',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'I' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="/static{{ t.assigned_to.profile.profile_photo }}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-warning font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'O',
                            'title': 'Done',
                            'class': 'light-success',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'O' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="/static{{ t.assigned_to.profile.profile_photo }}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-primary font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'B',
                            'title': 'Blocked',
                            'class': 'light-dark',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'B' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="/static{{ t.assigned_to.profile.profile_photo }}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        },
                        {
                            'id': 'L',
                            'title': 'Deleted',
                            'class': 'light-dark',
                            'item': [{% for t in tasks %}
                                {% if t.status == 'L' %}
                                    {
                                        'id': {{ t.id }},
                                        'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="/static{{ t.assigned_to.profile.profile_photo }}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">{{t.name}}</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">{{t.end_time}}</span>
                        	        </div>
                        	    </div>`
                                    },
                                {% endif %}
                            {% endfor %}
                            ]
                        }
                    ],
                    dragendEl: function (el) {
                        let eid = $(el).data("eid");
                        let bid = $(el.parentElement.parentElement).data("id");
                        console.log();
                        jQuery.ajax(`/boards/${eid}/task`, {
                            headers: {"X-CSRFToken": $(`{% csrf_token %}`).val()},
                            type: 'POST',
                            data: {
                                "_token": "{{ csrf_token }}",
                                task_id: eid,
                                board_id: bid
                            },
                            error: (data) => {
                                alert(data.responseJSON.error);
                            }
                        })
                    },
                });
            }

            // Public functions
            return {
                init: function () {
                    _demo4();
                }
            };
        }();

        var KTCalendarBasic = function () {

            return {
                //main function to initiate the module
                init: function () {
                    var todayDate = moment().startOf('day');
                    var YM = todayDate.format('YYYY-MM');
                    var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
                    var TODAY = todayDate.format('YYYY-MM-DD');
                    var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

                    var calendarEl = document.getElementById('kt_calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
                        themeSystem: 'bootstrap',

                        isRTL: KTUtil.isRTL(),

                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },

                        height: 800,
                        contentHeight: 780,
                        aspectRatio: 3,  // see: https://fullcalendar.io/docs/aspectRatio

                        nowIndicator: true,
                        {#now: TODAY + 'T09:25:00', // just for demo#}

                        views: {
                            dayGridMonth: {buttonText: 'month'},
                            timeGridWeek: {buttonText: 'week'},
                            timeGridDay: {buttonText: 'day'}
                        },

                        defaultView: 'dayGridMonth',
                        defaultDate: TODAY,

                        editable: false,
                        eventLimit: true, // allow "more" link when too many events
                        navLinks: true,
                        events: [
                            {% for t in tasks %}
                                {
                                    title: '{{t.name}}',
                                    start: new Date('{{ t.end_time }}'),
                                    description: '{{t.description}}',
                                    className: "fc-event-light fc-event-solid-primary"
                                },
                            {% endfor %}
                        ],

                        eventRender: function (info) {
                            var element = $(info.el);

                            if (info.event.extendedProps && info.event.extendedProps.description) {
                                if (element.hasClass('fc-day-grid-event')) {
                                    element.data('content', info.event.extendedProps.description);
                                    element.data('placement', 'top');
                                    KTApp.initPopover(element);
                                } else if (element.hasClass('fc-time-grid-event')) {
                                    element.find('.fc-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                                } else if (element.find('.fc-list-item-title').lenght !== 0) {
                                    element.find('.fc-list-item-title').append('<div class="fc-description">' + info.event.extendedProps.description + '</div>');
                                }
                            }
                        }
                    });

                    calendar.render();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTKanbanBoardDemo.init();
            KTCalendarBasic.init();
        });

    </script>
{% endblock %}