{% extends 'boards.html' %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block css %}
    <link href="{% static '/plugins/custom/kanban/kanban.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Heading-->
                    <div class="d-flex flex-column">
                        <!--begin::Title-->
                        <h2 class="text-white font-weight-bold my-2 mr-5">Tasks</h2>
                        <!--end::Title-->
                        <!--begin::Breadcrumb-->
                        <div class="d-flex align-items-center font-weight-bold my-2">
                            <!--begin::Item-->
                            <a href="#" class="opacity-75 hover-opacity-100">
                                <i class="flaticon2-shelter text-white icon-1x"></i>
                            </a>
                            <!--end::Item-->
                        </div>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Heading-->
                </div>
                <!--end::Info-->
            </div>
        </div>
        <!--end::Subheader-->

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Card-->
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Tasks</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="kt_kanban_4"></div>
                        <div class="mt-4">
                            <!-- Button  modal-->
                            <button type="button" class="btn font-weight-bold btn-light-primary mr-5"
                                    data-toggle="modal"
                                    data-target="#exampleModal">
                                Add Task
                            </button>

                            <!-- Modal-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">

                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add New
                                                Task</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <i aria-hidden="true" class="ki ki-close"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="add_board_from" method="post">{% csrf_token %}
                                                <div class="form-group">
                                                    <label>Name
                                                        <span class="text-danger">*</span></label>
                                                    <input id="iname" name="name" type="text"
                                                           class="form-control form-control-lg"
                                                           placeholder="Task">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description
                                                        <span class="text-danger">*</span></label>
                                                    <input id="idesc" name="desc" type="text"
                                                           class="form-control form-control-lg"
                                                           placeholder="Details ...">
                                                </div>
                                                <div class="form-group">
                                                    <label>Select User
                                                        <span class="text-danger">*</span></label><br>
                                                    <select name="users" style="opacity: 1"
                                                            class="form-control form-control-lg select2"
                                                            id="kt_select2_3"
                                                            name="param">
                                                        {% for ou in other_users %}
                                                            <option value="{{ ou.id }}">{{ ou.username }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button"
                                                            class="btn btn-light-primary font-weight-bold"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit"
                                                            class="btn btn-primary font-weight-bold">Save
                                                        changes
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card card-custom">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">
                                Calendar
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="kt_calendar"></div>
                    </div>
                </div>
                <!--end::Card-->

            </div>
            <!--end::Container-->
        </div>

        <!--end::Entry-->
    </div>
    <!--end::Content-->

{% endblock %}

{% block js %}
    <script src="{% static '/plugins/custom/kanban/kanban.bundle.js' %}"></script>
    <script src="{% static '/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
    <script src="{% static '/js/pages/features/calendar/basic.js' %}"></script>
    <script src="{% static '/js/pages/my-script.js' %}"></script>

    {#    <script src="{% static '/js/pages/features/miscellaneous/kanban-board.js' %}"></script>#}

    <script>
        "use strict";

        // Class definition
        var KTKanbanBoardDemo = function () {
            // Private functions
            var _demo4 = function () {
                var kanban = new jKanban({
                    element: '#kt_kanban_4',
                    gutter: '0',
                    click: function (el) {
                        alert("Details");
                    },
                    boards: [
                        {
                            'id': '_todo',
                            'title': 'To Do',
                            'class': 'light-danger',
                            'item': [{
                                'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static '/media/users/300_16.jpg' %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Server Setup</span>
                        	            <span class="label label-inline label-light-dark font-weight-bold">Completed</span>
                        	        </div>
                        	    </div>
                            `,
                            },
                                {
                                    'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static '/media/users/300_15.jpg' %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Report Generation</span>
                        	            <span class="label label-inline label-light-warning font-weight-bold">Due</span>
                        	        </div>
                        	    </div>
                            `,
                                }
                            ]
                        },
                        {
                            'id': '_working',
                            'title': 'In Progress',
                            'class': 'light-primary',
                            'item': [{
                                'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                            	         <img alt="Pic" src="{% static '/media/users/300_24.jpg' %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Marketing</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">Planning</span>
                        	        </div>
                        	    </div>
                            `,
                            },
                                {
                                    'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-light-info mr-3">
                        	            <span class="symbol-label font-size-h4">A.P</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Finance</span>
                        	            <span class="label label-inline label-light-primary font-weight-bold">Done</span>
                        	        </div>
                        	    </div>
                            `,
                                }
                            ]
                        },
                        {
                            'id': '_deploy',
                            'title': 'In Test',
                            'class': 'light-primary',
                            'item': [{
                                'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-light-warning mr-3">
                        	            <span class="symbol-label font-size-h4">D.L</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">SEO Optimization</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                            },
                                {
                                    'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-light-danger mr-3">
                        	            <span class="symbol-label font-size-h4">E.K</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Requirement Study</span>
                        	            <span class="label label-inline label-light-warning font-weight-bold">Scheduled</span>
                        	        </div>
                        	    </div>
                            `,
                                }
                            ]
                        },
                        {
                            'id': '_done',
                            'title': 'Done',
                            'class': 'light-success',
                            'item': [{
                                'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static '/media/users/300_11.jpg' %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">SEO Optimization</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                            },
                                {
                                    'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static '/media/users/300_20.jpg' %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Product Team</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                                }
                            ]
                        },
                        {
                            'id': '_backlog',
                            'title': 'Blocked',
                            'class': 'light-dark',
                            'item': [{
                                'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <img alt="Pic" src="{% static '/media/users/300_24.jpg' %}" />
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">SEO Optimization</span>
                        	            <span class="label label-inline label-light-success font-weight-bold">In progress</span>
                        	        </div>
                        	    </div>
                            `,
                            },
                                {
                                    'title': `
                                <div class="d-flex align-items-center">
                        	        <div class="symbol symbol-success mr-3">
                        	            <span class="symbol-label font-size-h4">A.D</span>
                        	        </div>
                        	        <div class="d-flex flex-column align-items-start">
                        	            <span class="text-dark-50 font-weight-bold mb-1">Finance</span>
                        	            <span class="label label-inline label-light-danger font-weight-bold">Pending</span>
                        	        </div>
                        	    </div>
                            `,
                                }
                            ]
                        },
                        {
                            'id': '_deleted',
                            'title': 'Deleted',
                            'class': 'light-dark',
                            'item': [{
                                'title': `
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-success mr-3">
                                        <img alt="Pic" src="{% static '/media/users/300_13.jpg' %}" />
                                    </div>
                                    <div class="d-flex flex-column align-items-start">
                                        <span class="text-dark-50 font-weight-bold mb-1">Payment Modules</span>
                                        <span class="label label-inline label-light-primary font-weight-bold">In development</span>
                                    </div>
                                </div>
                        `
                            }, {
                                'title': `
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-success mr-3">
                                        <img alt="Pic" src="{% static '/media/users/300_12.jpg' %}" />
                                    </div>
                                    <div class="d-flex flex-column align-items-start">
                                    <span class="text-dark-50 font-weight-bold mb-1">New Project</span>
                                    <span class="label label-inline label-light-danger font-weight-bold">Pending</span>
                                </div>
                            </div>
                        `
                            }
                            ]
                        }
                    ]
                });

                var toDoButton = document.getElementById('addToDo');
                toDoButton.addEventListener('click', function () {
                    kanban.addElement(
                        '_todo', {
                            'title':
                                `<div class="d-flex align-items-center">
                            <div class="symbol symbol-light-primary mr-3">
                                <img alt="Pic" src="{% static '/media/users/300_14.jpg' %}" />
                            </div>
                            <div class="d-flex flex-column align-items-start">
                                <span class="text-dark-50 font-weight-bold mb-1">Requirement Study</span>
                                <span class="label label-inline label-light-success font-weight-bold">Scheduled</span>
                            </div>
                        </div>`
                        }
                    );
                });
            }

            // Public functions
            return {
                init: function () {
                    _demo4();
                }
            };
        }();

        jQuery(document).ready(function () {
            KTKanbanBoardDemo.init();

        });

    </script>
{% endblock %}